html, body
{
  margin: 0 auto;
  background: #cce3ee;
  color: #FFFFFF;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 10px
}

input, select, textarea
{
  background: #fefde9;
  border-radius: 3px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  margin: 0;
}

pre
{
  font-size: 10pt
}

td
{
  margin: 0px;
  padding: 10px;
  border-radius: 3px;
}

a:link, a:visited
{
  color: #000000;
  text-decoration: none;
  font-weight: normal
}

a:hover, a:active
{
  color: #000000;
  text-decoration: underline;
  font-weight: normal
}


.context
{
  background: #cce3ee;
  border-radius: 3px;
  padding: 40px
}

.menu
{
  display: block;
  padding: 18px;
  background: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#294c81), to(#294c81));
  background: -moz-linear-gradient(top,  #294c81,  #294c81);
  width: 100%;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 10px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 10px 2px rgba(0,0,0,.2);
	box-shadow: 0 10px 2px rgba(0,0,0,.2);
	color: #FFFFFF;
}

.menu a:link, .menu a:visited
{
  color: #FFFFFF;
  font-size: 12px;
   text-shadow: 0 3px 3px rgba(0,0,0,.3);
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
    padding: 2px 15px 2px 15px;
}

.menu_current
{

  color: #DAA520;
  background-color: FFFFFF;
  border-radius: 3px;
  padding: 2px 15px 2px 15px;
  font-size: 12px;
  text-decoration: none;
}
.menu a:hover, .menu a:active
{
  background-color: #FFFFFF;
  text-decoration: none;
  color: #DAA520;
}

.bot_a:link, .bot_a:visited
{
  display:inline;
  color: #FF4500;
  font-weight: bold;
  text-decoration: none
}

.bot_a:hover, .bot_a:active
{
  display:inline;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: underline
}

.menu_separator
{
  display: inline;
  border-top: 1px solid #FFFFFF;
  margin: 1px 0
}

.menu_info
{
  border-radius: 3px;
  display: inline;
  color: #DAA520;
  padding: 2px 2px 2px 25px;
  margin: 0 2px;
  font-weight: normal;
  width: 100px
}

.table_frame
{
   text-shadow: 0 0 1px rgba(0,0,0,.1);
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 5px 2px rgba(2,0,0,.2);
	-moz-box-shadow: 0 5px 2px rgba(2,0,0,.2);
	box-shadow: 0 5px 2px rgba(2,0,0,.2);
	color: #000000;
  border: solid 1px #FFFFFF;
  background: #FFFFFF;
  margin: 0 auto;
  padding: 1px
}

.table_frame td
{
  white-space:nowrap
}

.td_header
{
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#cce3ee));
  border-radius: 3px;
  color: #000000;
  font-weight: bold;
  padding: 2px 2px 2px 15px;
  margin: 0 2px 0px 2px;
  width: 150px;
  text-decoration: none
  padding: 2px;
  margin: 0;
}

.td_header a:link, .td_header a:visited
{
  border-radius: 3px;
  color: #000000;
  text-decoration: none;
  font-weight: bold

}

.td_header a:hover, .td_header a:active
{
  color: #FFFFFF;
  border-radius: 3px;
  text-decoration: underline;
  font-weight: bold
}

.td_c1
{
  background: #FFFFFF;
  padding: 1px;
  margin: 10;
}

.td_c2
{
  background: #f1f1f1;
  padding: 1px;
  margin: 10;
}

.error
{
  color: #FF0000;
  font-weight: bold
}

.success
{
  color: #228B22;
  font-weight: bold
}

.screenshot
{
  border: solid 1px #FF0000
}

.popupmenu table
{
  color: #404040;
  border-radius: 3px;
  border: solid 1px #000000;
  background-color: #FFFFFF
}

.popupmenu td
{
  border-radius: 8px;
  padding: 0
}

.popupmenu a:link, .popupmenu a:visited
{
  border:           1px solid #FFFFFF;
  border-radius: 8px;
  display:          block;
  color:            #404040;
  padding:          2px 15px;
  margin:           0;
  font-weight:      normal;
  text-decoration:  none;
  background-color: #FFFFFF
}

.popupmenu a:hover, .popupmenu a:active
{
  border:           1px solid #FFFFFF;
  border-radius: 3px;
  background-color: #fefde9;
  text-decoration:  none;
  color: #eee330;
}

.popupmenu hr
{
  border: 1px solid #DDDDDD;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0
}

.table_frame_backgrounds
{
  border: solid 1px #000000;
  background: #F5F5F5;
   -moz-border-radius: 5px;
  border-radius: 5px;
}